.searchBox{
  top: 18px;
  position: absolute;
  right: 15%;
    background: white;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
}
.searchText:focus{
  width: 240px;
  padding: 0 6px;
  /* top: 50px; */
}

.searchBox:hover > .searchText{
  width: 240px;
  padding: 0 6px;
  top: 50px;
}

.searchBtn:hover {
 background: #e84118;
}

.searchBtn{
  color: #e84118;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
}
.searchText{
height: 30px;
border: none;
background: none;
outline: none;
float: left;
padding: 0;
color: #2f3640;
font-size: 16px;
transition: 0.4s;   
line-height: 40px;
width: 0px;
}